@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.codeSolutions {
    &__base {
        display: flex;
        align-items: flex-start;
        gap: 64px;
    }
    &__grid {
        &Container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 32px;
        }

        display: grid;
        grid-template-rows: repeat(1fr);
        grid-template-columns: 1fr;
        gap: 32px;
        margin: 0;
        padding: 0;

        &Item {
            @include setup-card;
            background: $c-primary-gradient;
            list-style: none;

            svg {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__text {
        &Container {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &Title {
            margin: 0;
        }

        &CtaLink {
            margin-top: 24px;
        }
    }
}

@keyframes shift-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-80px);
    }
}

@keyframes shift-down {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .codeSolutions__grid {
        &:nth-child(1),
        &:nth-child(3) {
            animation: shift-up linear both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }

        &:nth-child(2) {
            animation: shift-down linear both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }
    }
}