@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.whyChooseUs {
    &__base {
        background: $c-primary-gradient;
        padding: 240px 0;
        position: relative;

        &::before {
            content: "";
            background: $c-black;
            padding: 24px;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            border-radius: 0 0 48px 48px;
        }

        &::after {
            content: "";
            background: $c-black;
            padding: 24px;
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            border-radius: 48px 48px 0 0;
        }
    }

    &__container {
        display: flex;
        gap: 120px;
    }

    &__textContainer {
        width: 50%;
        color: $c-white;
    }

    &__logoContainer {
        width: 50%;
    }

    &__logo {
        width: 100%;
        height: 100%;
        transform: rotate(-20deg);
    }
}

@keyframes shift-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-160px);
    }
}

@keyframes shift-down {
    from {
        transform: translateY(-160px);
    }

    to {
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .whyChooseUs__textContainer {
        animation: shift-down linear both;
        animation-timeline: view();
        animation-range: 15vh 85vh;
    }

    .whyChooseUs__logoContainer {
        animation: shift-up linear both;
        animation-timeline: view();
        animation-range: 15vh 85vh;
    }
}