@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.startPageHero {
    &__base {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    // &__blob {
    //     position: absolute;
    //     width: 10vw;
    //     z-index: -1;
    //     margin: 0 auto;
    //     height: 10vh;
    //     background: linear-gradient(64deg, #f34867 23%, #f24769 23%, #9d00ec 80%);
    //     box-shadow: 0px 0px 200px 5px #5e3553;

    //     border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%; 
    //     transform: rotate(0deg); 
    //     will-change: border-radius, transform;
        
    //     animation: blob 10s linear infinite;
    // }

    &__heading {
        &Container {
            position: relative;

            @include fluid('padding-top', 320px, 1440px, 40px, 80px);
            @include fluid('padding-bottom', 320px, 1440px, 40px, 80px);
            @include fluid('padding-left', 320px, 1440px, 16px, 160px);
            @include fluid('padding-right', 320px, 1440px, 16px, 160px);

            animation: open-up $d-extralong forwards;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 240px;

            background: transparent;
            background-image: radial-gradient($c-white-03 1px, transparent 0);
            background-size: 40px 40px;
        }

        &Text {
            margin-bottom: 0;
        }

        &Button {
            margin-top: 24px;
        }
    }

    &__options {
        &SubText {
            width: 75%;
        }
        &Heading {
            width: 75%;
            text-align: center;
            font-size: $f-weight-light;

            &Container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        &Grid {
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr;
            margin-top: 160px;

            &Container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 32px;
            }

            &Item {
                @include setup-card;

                position: relative;
                background: $c-card-bg;
                display: flex;
                flex-direction: column;
                gap: 32px;
                align-items: center;

                &::before {
                    position: absolute;
                    content: "";
                    inset: 0;
                    background-image: $c-primary-gradient;
                    opacity: 0;
                    border-radius: 32px;
                    transition: opacity $d-short linear;
                }

                svg {
                    width: 200px;
                    height: 200px;
                    transition-duration: $d-short;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                    svg {
                        transform: scale(1.2);
                    }
                }

                // &:nth-child(1),
                // &:nth-child(3) {
                //     transform: translateY(-80px);
                // }

                &CtaButton {
                    z-index: 10;
                }
            }
        }
    }
}

@keyframes shift-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-80px);
    }
}

@keyframes shift-down {
    from {
        transform: translateY(-80px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes open-up {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 0%;
    }
}

@keyframes blob {
    0%, 100% {
        border-radius: 28% 72% 22% 78% / 39% 23% 77% 61%; 
    }
    50% {
        border-radius: 72% 28% 50% 50% / 55% 26% 74% 45%;  
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);  
    }
    100% {
        transform: rotate(359deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .startPageHero__optionsGrid {
        &:nth-child(1) {
            animation: shift-up linear both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }

        &:nth-child(2) {
            animation: shift-down linear both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }
    }
}