@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.startPageHero {
    &__base {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__heading {
        &Container {
            position: relative;

            @include fluid('padding-top', 320px, 1440px, 40px, 80px);
            @include fluid('padding-bottom', 320px, 1440px, 40px, 80px);
            @include fluid('padding-left', 320px, 1440px, 1px, 160px);
            @include fluid('padding-right', 320px, 1440px, 1px, 160px);

            animation: open-up $d-extralong forwards;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 240px;

            background: transparent;
            background-image: radial-gradient($c-white-03 1px, transparent 0);
            background-size: 40px 40px;
        }

        &Text {
            margin-bottom: 0;
        }

        &Button {
            margin-top: 24px;
        }
    }

    &__options {
        &SubText {
            width: 100%;

            @include lg {
                width: 75%;
            }
        }
        &Heading {
            width: 100%;
            text-align: center;
            font-size: $f-weight-light;

            @include lg {
                width: 75%;
            }

            &Container {
                @include fluid('padding-left', 320px, 1440px, 1px, 160px);
                @include fluid('padding-right', 320px, 1440px, 1px, 160px);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        &Grid {
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr;

            @include lg {
                margin-top: 120px;

                &:nth-child(2) {
                    transform: translateY(100px);
                }
            }

            &Container {
                display: grid;
                grid-template-columns: 1fr;
                gap: 32px;

                @include lg {
                    grid-template-columns: 1fr 1fr;
                }
            }

            &Item {
                @include setup-card;

                position: relative;
                background: $c-card-bg;
                display: flex;
                flex-direction: column;
                gap: 32px;
                align-items: center;

                &::before {
                    position: absolute;
                    content: "";
                    inset: 0;
                    background-image: $c-primary-gradient;
                    opacity: 0;
                    border-radius: 32px;
                    transition: opacity $d-short linear;
                }

                svg {
                    width: 200px;
                    height: 200px;
                    transition-duration: $d-short;
                    z-index: 100;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                    svg {
                        transform: scale(1.2);
                    }
                }

                &CtaButton {
                    z-index: 10;
                }
            }
        }
    }
}

@keyframes open-up {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 0%;
    }
}

@keyframes hover-mock {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .startPageHero__optionsGridItem {
        &::before {
            animation: hover-mock linear both;
            animation-timeline: view();
            animation-range: 25vh 75vh;
        }
    }
}