@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.styleSwitcher {
    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    &__title {
        &Container {
            @include fluid('padding-left', 320px, 1440px, 16px, 64px);
            @include fluid('padding-right', 320px, 1440px, 16px, 64px);
            
            text-align: center;

            @include lg {
                width: 75%;
                padding-right: 0;
                padding-left: 0;
            }
        }

        &Subtext {
            text-align: left;
        }
    }

    &__container {
        @include setup-card;
        background: $c-card-bg;
        width: 100%;
        min-height: 500px;
    }
}