@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.styleSwitcher {
    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    &__title {
        &Container {
            text-align: center;
            max-width: 75%
        }

        &Subtext {
            text-align: left;
        }
    }

    &__container {
        @include setup-card;
        background: $c-card-bg;
        width: 100%;
        min-height: 500px;
    }
}