@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.principles {
    &__heading {
        margin-bottom: 0;
    }
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 32px;

        &Item {
            @include setup-card;
            background: $c-card-bg;

            &:nth-child(2) {
                background: $c-secondary-gradient;
            }
        }
    }
}