@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/utils.scss';
@import '../../assets/styles/variables.scss';

.seoImportance {
    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    &__heading {
        &Container {
            @include fluid('padding-left', 320px, 1440px, 1px, 160px);
            @include fluid('padding-right', 320px, 1440px, 1px, 160px);
            
            text-align: center;
            width: 100%;

            @include lg {
                width: 75%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__container {
        @include setup-card;
        background: $c-card-bg;
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__metrics {
        &Container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 48px;
            padding: 24px 0;

            @include lg {
                gap: 84px;
            }
        }

        &Item {
            color: #118316;
            background: $c-green-gradient;
            border: 3px solid #05CC63;
            padding: 32px;
            border-radius: 50%;
            font-size: 24px;
            font-weight: $f-weight-bold;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include lg {
                padding: 48px;
                width: 50px;
                height: 50px;
                font-size: 32px;
            }

            &:nth-child(2) {
                transform: scale(2) translateY(-20px);
                box-shadow: 0px 15px 29px 0px rgba(116, 255, 139, 0.75);
            }
        }

        &Text {
            @include fluid('padding-left', 320px, 1440px, 16px, 64px);
            @include fluid('padding-right', 320px, 1440px, 16px, 64px);

            @include lg {
                width: 75%;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}